[2017-08-28 05:58] subhaklp opened #30 "Accessing student groups a student belongs to returns wrong 'status' field."
There's a URL pattern like below:

/students/id/studentgroups/

that's handled by the StudentGroupViewSet. The JSOn this URL returns has status as 'AC' for all the studentgroups that this student belongs to. This is because the 'status' field is being returned from student group model and not the student_studentgroup relation model. We should use the latter's status for this particular query. Need

[2017-08-28 06:10] harisibrahimkv commented on #30
@subhaklp You can change that in the corresponding serializer.

[2018-02-27 07:28] menakakhare opened #144 "Top Summary Does not Load (For a month selection in date filter)"
The top summary does not load if the month is selected from the same year
https://ka.staging.ilp.org.in/gka/#datemodal?boundary_id=424&from=2018-01-01&to=2018-02-28

@ansal @shivangi

[2018-02-27 07:35] menakakhare opened #145 "SMS Volume Graph takes longer to load"
Compared to other graphs and data, SMS volume graph takes few seconds longer to load.

@ansal @shivangi

[2018-02-27 08:16] menakakhare opened #146 "Match school count between EMS and Unified DB for GKA Dashboard"
@brijeshpoojary @shivangi @ansal

[2018-02-27 08:17] menakakhare opened #147 "Remove "Explore" option under Community in Home Page"
@subhaklp @ansal @shivangi

[2018-02-27 11:38] menakakhare opened #148 "Checking the counts on GKA Dashboard"
https://docs.google.com/spreadsheets/d/1RfLkYHs0qXTqMwbZcSt1pu11Q7KDngUImeETVXIoPLU/edit#gid=37431170

@ansal @shivangi @ShwetanshuSingh

[2018-02-27 17:40] menakakhare opened #149 "Some Images do not load in "More Info" tab"
https://dev.ilp.org.in/school/33316/#?tab=info

tagging this issue: @subhaklp

@brijeshpoojary @shivangi @ansal

[2018-02-27 17:45] menakakhare opened #150 ""Compare To" fails for few school selections"
![screen shot 2018-02-27 at 11 13 46 pm](https://user-images.githubusercontent.com/30497144/36744907-035950de-1c14-11e8-9f94-7a10023c4983.png)
Assigning : @subhaklp

CC: @shivangi @ansal

[2018-02-27 17:49] menakakhare opened #151 "Demographics data for Preschool Not loading"
We get a message "Temporary Error in Loading Data"
https://dev.ilp.org.in/school/30989/#?tab=demographics

Assigning to : @subhaklp

CC: @ansal @shivangi

[2018-02-27 18:14] menakakhare opened #152 "Responses not showing up in few cases for SYS"
https://dev.ilp.org.in/school/32293/#?tab=share-story

Assigning to : @subhaklp
CC : @ansal @shivangi

[2018-02-27 18:38] menakakhare opened #153 "Programs tab for "Pre-School" and "Primary School" to be fixed"
Lets have a discussion on this one.

Assigning to : @subhaklp
CC: @shivangi @ansal

[2018-02-27 18:41] menakakhare opened #154 "Data page throws errors on clicking download"
Link : https://dev.ilp.org.in/media/school-data/primaryschool.csv

On clicking download after taking credential the page throws an error.

Assigning to : @subhaklp
CC : @shivangi @ansal

[2018-03-01 09:07] menakakhare opened #155 "GKA Dashboard Top Summary is not changing as per Filter selection"
@ansal @nabeelvalapra

[2018-03-02 03:40] subhaklp commented on #147
This is done. Committed.

[2018-03-02 03:43] subhaklp commented on #150
@menakakhare are you referring to a problem with the search where its not finding relevant schools?

[2018-03-02 03:52] subhaklp commented on #152
There are no answers for this particular school. There's no proper comments either. Which is why you don't see anything in the UI. As to why the data is this way, I don't know. Assigning to @ShwetanshuSingh  to investigate. FYI @menakakhare

[2018-03-02 06:06] ShwetanshuSingh opened #157 "GKA Monitoring: not all user mappings being migrated from stories_story to UnifyDB"
@shivangi
[code]

[2018-03-02 07:45] menakakhare opened #159 "Need to add a Hyphen "-""
Need to add a hyphen for the Source : KLP Database 17-18

![screen shot 2018-03-02 at 1 08 02 pm](https://user-images.githubusercontent.com/30497144/36888459-90dabc8c-1e1b-11e8-8066-c5b8f13d6fa9.png)

Assigned to : @subhaklp
@ansal

[2018-03-02 07:54] menakakhare opened #160 "Filter option on School Map not working"
![screen shot 2018-03-02 at 1 19 59 pm](https://user-images.githubusercontent.com/30497144/36888751-eb0cd2e8-1e1c-11e8-9107-15522d57e575.png)

Assigned to : @subhaklp
@ansal

[2018-03-05 06:54] ShwetanshuSingh opened #162 "ENH: Separate Competency Graph in Assessments Section by Grade (Release 2)"
GKA Dashboard > Assessments Section > Competency Summary
- have separate graphs for Class 4 and Class 5 competencies
- competencies for Class 4 and Class 5 vary, and thus, the two graphs should show the respective competencies and corresponding performances

[2018-03-05 07:02] ShwetanshuSingh opened #163 "ENH: Add Additional Bar in Assessments Competency Summary Graph (Release 2)"
GKA Dashboard > Assessment Section > Competency Summary
- add additional bar to include the performance across assessments
- the performance is computed as the number of questions answered correctly by the number of questions required to be answered for that particular competency
- the average performance across all assessments would be the percentage value to be depicted on the graph

[2018-03-05 08:43] shivangi commented on #146
What school count? @menakakhare ?

[2018-03-05 08:59] menakakhare commented on #146
This was regarding the pending GKA schools which was missing in Unified DB. @brijeshpoojary  is yet to port these schools to unified DB . Further these schools have to be tagged for GKA in unified DB by @shivangi .

[2018-03-05 09:01] #147 closed

[2018-03-05 09:01] menakakhare commented on #147
This is fixed

[2018-03-05 10:14] shivangi commented on #157
@ShwetanshuSingh the assessment is there:-
   id   | group_value |     date_of_visit      | comments | is_verified | sysid |          entered_at           | created_by_id | institution_id | questiongroup_id | status_id | respondent_type_id | location | mobile
--------+-------------+------------------------+----------+-------------+-------+-------------------------------+---------------+-----------

[2018-03-05 10:21] shivangi commented on #155
@ansal can you check if the haschange event is being captured and the surveys/tagmappingsummary and survey/summary is being called with the new boundary. I cannot see it being called in the network calls.

[2018-03-05 10:23] shivangi commented on #146
@brijeshpoojary is this done?

[2018-03-05 10:24] shivangi commented on #144
@ansal this must be the same issue as the boundary change also not being updated. Can you check your code for capturing these changes and loading the top summary?

[2018-03-05 10:28] ShwetanshuSingh commented on #157
I never meant to state that the entry isn't there. The createdby_id is the field that is missing from the assessment entry despite the fact that there's an associated user_id in dubdubdub.

[2018-03-05 10:52] brijeshpoojary commented on #146
Ems is updated with the new schools now. The counts were not matching because 58 schools of gka phase 1 & phase 2 were not present in EMS. 31 were activated and 27 inserted as new.

`ems=> select count(*) from schools_institution where cat_id in (9,13,14,15) and active=2;
 count
-------
 44180
`
This has to reflect on unified_db as well. It did not reflect today as the import script had failed. Th

[2018-03-05 12:03] ansal opened #166 "Verify accuracy in counts for Konnect "Report Generation""

[2018-03-05 12:11] ansal opened #167 "Mapping a survey to a state and user type"
A survey belongs to a state and multiple user types. We need this relation in our models and endpoints.

This helps Konnect to filter surveys that belong to a particular state and/or user type.

[2018-03-05 12:12] ansal commented on #167
@menakakhare The state is already mapped to the survey (as a foreign key id in the survey table).

@shivangi We need to do the usertype mapping.

[2018-03-05 12:14] ansal opened #168 "Add new GKA Monitoring question group for 2018-19 academic year"

[2018-03-05 12:15] ansal opened #169 "Filter for survey and questiongroup endpoints based on status field"

[2018-03-05 12:17] ansal opened #170 "Include a field in survey to identify if a grade selection is necessary before user submits the response"

[2018-03-05 12:18] ansal opened #171 "Add a comment option in GKA monitoring surveys."
This can be implemented as a question (last in the sequence) in the desired question group.

We should also include a field to indicate if commenting is necessary for a particular survey.

[2018-03-05 12:56] shivangi commented on #157
@ShwetanshuSingh ok this is the case when there were multiple mobiles associated with the user and both those mobiles were already present in the db so no entry was made for that user.

[2018-03-05 13:06] shivangi commented on #146
@brijeshpoojary so please check this tomorrow and assign it to Menaka once it matches your count.

[2018-03-05 15:30] menakakhare commented on #168
List of question for the academic year 2018-19 (All the following questions have response as Yes or No as radio button for selection)
1. Was the Math class happening at the time of your visit ?
2. Was the teacher teaching trained in GKA methodology?
3. Did you observe the GKA TLM being used during the class?
4. Did you see representational stage being practiced during the class?
5. Did you see gro

[2018-03-06 01:38] ShwetanshuSingh commented on #157
but that leaves the survey unmapped to the user right?

there's a large number of these too ~1600

[2018-03-06 04:09] shivangi commented on #148
@ShwetanshuSingh these were resolved right? If there is any further mismatch can you please point it here in the ticket? Give the section information here. The sheet is not updated.

[2018-03-06 04:10] shivangi commented on #166
@ansal @ShwetanshuSingh can you give me more information on which counts are not correct or should be checked so i can look into it?

[2018-03-06 04:13] shivangi commented on #167
@ansal there is just one survey associated with konnect, no?
@menakakhare can you give me the usecase for this requirement? also do for user type mapping, do we have information for which user types are to be mapped to which surveys?

[2018-03-06 04:15] shivangi commented on #170
@ansal we have a column called group_text in questiongroup table. This is set to "child_name" for GP contest. Can we use it for this purpose and set it to "grade"?

[2018-03-06 04:16] shivangi commented on #170
Also again in this case too, if we are doing assessment on student we are doing mapping to grade/class and if we are doing assessment on class we anyways are doing mapping to class. I am little confused about this usecase.

[2018-03-06 04:17] shivangi commented on #171
@ansal we have a comments column in assessments_answergroup_* tables. Wouldnt this suffice for the comments?

[2018-03-06 04:40] ansal commented on #155
@shivangi Yes the hash changes are captured and passed on to the endpoints. Here are the urls being called when Bengaluru Rural district is selected -

https://dev.ilp.org.in/api/v1/surveys/tagmappingsummary/?survey_tag=gka&boundary_id=433&from=2017-06-01&to=2018-03-31&year=1718&state=ka
https://dev.ilp.org.in/api/v1/surveys/usercount/?survey_tag=gka&boundary_id=433&from=2017-06-01&to=2018-03-31&s

[2018-03-06 05:10] subhaklp commented on #153
This is sort of done from the frontend.  I am ONLY linking to GKA dashboard. Everything else will just be a bullet item, no hyperlink. GKA dashboard link is not working because of some potential issues with the endpoint which @ansal is aware of.

[2018-03-06 05:13] menakakhare opened #172 "Review Import scripts for GP Contest and HH Survey"
Review scripts

Import Script for GP Contest
--
Import Scripts for HH Survey Data

[2018-03-06 05:32] ShwetanshuSingh commented on #166
@shivangi

So I spotted a couple of issues in the json response for this API end-point. There's the known issue of the dummy community survey questions being included in the response. Besides that, the numbers seem to be significantly off.

for example, for https://dev.ilp.org.in/api/v1/surveys/questiongroupdetails/?questiongroup_id=24&from=2017-07-01&to=2018-03-31

the numbers in the response for

[2018-03-06 06:14] subhaklp commented on #154
Chirag has completed adding files to the /media directory. We are done here.

[2018-03-06 06:52] ShwetanshuSingh opened #173 "ENH: Add full name to tooltips in Users Graph"
GKA Dashboard > SMS Section > SMS Users Graph
- replace abbreviations with full name of the user groups
- user group names available in common_respondenttype table

[2018-03-06 16:16] menakakhare opened #175 "Create Kit Usage Survey (for Teachers)"
1. Which Grade(s) you teach - multiple selection box (grade 1 to 8 )
2. Do you use the GKA math kit TLMs in your math class? (Yes or No)
3. Is the Math kit helpful in improving learning outcome in math? (Yes or No)
4. Which TLM is most liked by the students (drop down box - chose 1)
5. How do you rate the math kit contents? (MCQ) [Extremely Satisfied - Satisfied - Neither Satisfied nor Dissatisfie

[2018-03-06 17:16] shivangi commented on #155
@ShwetanshuSingh please test this.

[2018-03-06 17:21] ansal commented on #171
@shivangi Yes, that should work.

[2018-03-06 17:23] ansal commented on #167
@shivangi No. At present there are two surveys. And we will be adding more surveys in the future.

[2018-03-06 17:27] ansal commented on #170
If `group_text` is used for something else, I think we better create a boolean field for indication if grade selection is mandatory or not.

We are doing assessments on Institutions no? I mean Konnect creates records on `AnswerGroup_Institution` right? So we need the mapping to a class.

@menakakhare Can you give us more info about why we need this mapping?

[2018-03-07 04:53] menakakhare commented on #170
Grade selection is relevant for GKA Monitoring Survey and the upcoming Teacher's Survey.

Use case: We want to know the GKA monitoring survey happened for which grade and the same is applicable for Teacher's survey as to the kit is being used for which grades.

[2018-03-07 05:10] brijeshpoojary commented on #172
@shivangi  Attaching the scripts for importing gp contest data and house hold survey data to unified db.

[import_gp_contest.zip](https://github.com/klpdotorg/ilp/files/1787838/import_gp_contest.zip)
[import_house_hold_survey.zip](https://github.com/klpdotorg/ilp/files/1787839/import_house_hold_survey.zip)

[2018-03-08 06:22] menakakhare opened #178 "Label Change on GKA Dashboard"
![screen shot 2018-03-08 at 11 28 35 am](https://user-images.githubusercontent.com/30497144/37136306-0c8f4f1e-22c7-11e8-87b7-08e721c48ea9.png)

I will send more changes post lunch.

[2018-03-08 08:56] menakakhare commented on #178
![screen shot 2018-03-08 at 2 15 42 pm](https://user-images.githubusercontent.com/30497144/37141929-9f690edc-22dc-11e8-94ab-5e2420b999af.png)
![screen shot 2018-03-08 at 2 13 12 pm](https://user-images.githubusercontent.com/30497144/37141936-a2932a52-22dc-11e8-8186-39f88fe662d4.png)
![screen shot 2018-03-08 at 2 11 17 pm](https://user-images.githubusercontent.com/30497144/37141959-acecc86e-22dc-11

[2018-03-08 08:57] ansal commented on #144
@shivangi I have made the year parameter as "to" year - 1 + "to year".

[2018-03-08 15:53] menakakhare commented on #178
![screen shot 2018-03-08 at 8 57 25 pm](https://user-images.githubusercontent.com/30497144/37160751-f087ba18-2316-11e8-9a0b-19ebbaee7b21.png)

[2018-03-08 16:08] menakakhare commented on #178
![screen shot 2018-03-08 at 9 36 28 pm](https://user-images.githubusercontent.com/30497144/37161560-09614c46-2319-11e8-9638-6a208069ae95.png)

[2018-03-09 08:27] shivangi commented on #166
@ShwetanshuSingh can you test this?

[2018-03-09 08:29] shivangi commented on #172
Reviewed

[2018-03-09 10:57] ShwetanshuSingh commented on #178
@ansal

The Survey Respondents graph has overlapping x-axis labels, do you think these could be replaced with the abbreviations as you have done in the Monitoring Volumes graph?

[2018-03-09 11:30] ansal commented on #178
@ShwetanshuSingh That can be done.

[2018-03-12 15:46] menakakhare commented on #178
![screen shot 2018-03-12 at 9 13 58 pm](https://user-images.githubusercontent.com/30497144/37293890-959d6d74-263a-11e8-91b0-e169e50d3fd0.png)

[2018-03-13 01:34] menakakhare opened #181 ""District selection" in Filters does not work for GP Contest"
![screen shot 2018-03-13 at 6 48 17 am](https://user-images.githubusercontent.com/30497144/37317589-c049ab2c-268b-11e8-8b52-9364662d77dc.png)

In GP Contest section, "GP Covered" always shows the total no of GPs instead of showing the count of GPs within the District as per selection. Other filter selection such as block/cluster and school does not apply for "GP Covered" as a GP is larger boundary

[2018-03-14 03:58] shivangi commented on #181
@nabeelvalapra please have a look at this.

[2018-03-14 03:59] shivangi commented on #170
@ansal this is done. Close it once you verify it.

[2018-03-14 04:01] shivangi commented on #168
@ansal @menakakhare cant we use the existing question group?

[2018-03-14 04:02] shivangi commented on #166
@ansal did the Konnect app add the survey_tag filter?
@ShwetanshuSingh @ansal test and close this issue.

[2018-03-14 04:05] shivangi commented on #144
Its work.
@menakakhare please test.

[2018-03-14 04:32] menakakhare commented on #168
@ansal I think we decided to use the existing question group since there was no change in the questions.

[2018-03-14 06:08] ShwetanshuSingh commented on #155
@shivangi the numbers for the boundary filter end point shared above seem fine, however, the active users has to be integrated as a a parameter within it too using the **assesssments_answergroup_institution** as a bridge table

here's an example - for the district of gadag for this academic year:
`ilp=> select count(distinct uu.id)
from users_user uu
join assessments_answergroup_institution aai
on

[2018-03-14 08:08] ShwetanshuSingh opened #184 "Make GKA Dashboard Filter Buttons More Descriptive"
- Keep drop-down filters (District, Block, Cluster, Schools) as the first row
- Shift buttons to second row and make them more descriptive by adding text with the icons
     - Generate Report + "search icon"
     - Reset + "reset icon"
     - Select Date Range + "calendar icon"

[2018-03-14 08:10] menakakhare commented on #184
![screen shot 2018-03-14 at 1 30 31 pm](https://user-images.githubusercontent.com/30497144/37390229-419845ba-278d-11e8-9578-7a56aab98a8f.png)

[2018-03-14 08:15] #173 closed

[2018-03-14 08:28] ShwetanshuSingh commented on #178
@ansal Here are the initial list of minor changes to be made to the Dashboard:

- make all label texts straight and not oblique
- replace the orange color in the GKA Monitoring Summary > Monitoring Responses > GKA Methodology  to grey. These bars have the vacant part in orange color whereas everywhere it is grey.

[2018-03-15 05:28] ansal opened #186 "Remove secret keys/creds from the base"
SECRET_KEY in settings/base.py
Superuser passwords in createsuperusers.py
Slack post hook url in ilp/apps/common/utils.py#post_to_slack method

[2018-03-16 05:40] shivangi commented on #181
Fixed.

[2018-03-16 05:40] #181 closed

[2018-03-20 04:53] shivangi commented on #155
@nabeelvalapra can you look at this one? You will have to add filter for boundary(if not passed then state) and institution to the SurveyUsersCountAPIView.

[2018-03-20 04:54] #148 closed

[2018-03-20 04:55] shivangi commented on #175
@ansal this is over, right? Can you close it?

[2018-03-20 12:35] ShwetanshuSingh commented on #166
the numbers in the json are still off and the known issue of the dummy community survey questions being included in the response still persists.

[2018-03-21 05:08] #144 closed

[2018-03-21 05:09] menakakhare commented on #145
Reviewed

[2018-03-21 05:09] #145 closed

[2018-03-21 05:09] menakakhare commented on #146
Reviewed

[2018-03-21 05:09] #146 closed

[2018-03-21 05:12] menakakhare commented on #149
Images are still not loading.
Link:-
https://dev.ilp.org.in/school/32205/#?tab=info
https://ka.staging.ilp.org.in/school/32211/#?tab=info

[2018-03-21 05:16] menakakhare commented on #150
Reviewed

[2018-03-21 05:16] #150 closed

[2018-03-21 05:18] #151 closed

[2018-03-21 05:37] menakakhare commented on #153
@subhaklp @ansal  (Program tabs for Primary school under GKA do not redirect to GKA Dashboard with pre-populated filters )

https://dev.ilp.org.in/school/3075/#?tab=programmes

[2018-03-21 05:43] menakakhare commented on #154
@subhaklp : Yet to be fixed

It works on dev but not on Staging
https://dev.ilp.org.in/data/
https://ka.staging.ilp.org.in/media/school-data/primaryschool.csv

[2018-03-21 05:59] menakakhare commented on #155
Reviewed , Raising a new bug for Chamrajnagar filter selection failing for survey responses.

[2018-03-21 05:59] #155 closed

[2018-03-21 06:00] ShwetanshuSingh opened #193 "GKA Dashboard: Survey Responses Empty for District Filter Selection Chamarajnagara"
https://ka.staging.ilp.org.in/api/v1/survey/detail/source/?survey_tag=gka&survey_id=7&boundary_id=439&from=2017-06-01&to=2018-03-31&state=ka

[2018-03-21 06:01] menakakhare commented on #159
@subhaklp : Yet to be fixed

https://ka.staging.ilp.org.in/school/32205/#?tab=info
https://dev.ilp.org.in/school/32211/#?tab=programmes

[2018-03-21 06:38] #184 closed

[2018-03-21 06:46] menakakhare commented on #178
@ansal

Few more minor changes:-
![screen shot 2018-03-21 at 11 44 41 am](https://user-images.githubusercontent.com/30497144/37697147-27e27ba8-2d01-11e8-83db-113cf54b9bba.png)

[2018-03-21 06:47] menakakhare commented on #178
![screen shot 2018-03-21 at 12 08 59 pm](https://user-images.githubusercontent.com/30497144/37697256-c9aed792-2d01-11e8-9c0b-eb93d7536f69.png)

[2018-03-21 07:10] menakakhare commented on #160
Reviewed . Works both on dev and staging.

[2018-03-21 07:10] #160 closed

[2018-03-21 07:12] #175 closed

[2018-03-21 07:13] #171 closed

[2018-03-21 07:13] #167 closed

[2018-03-21 07:17] #168 closed

[2018-03-21 07:20] #170 closed

[2018-03-21 07:25] #169 closed

[2018-03-21 07:30] #172 closed

[2018-03-21 08:52] ShwetanshuSingh opened #194 "Konnect Survey Report Counts"
- the konnect survey report counts should include the count from both sources (questiongroup_id 18 as well as 20)
- the konnect counts currently are double the counts they should be

[2018-03-21 09:11] menakakhare opened #195 "Edit Profile option is not working"
![screen shot 2018-03-21 at 2 35 23 pm](https://user-images.githubusercontent.com/30497144/37701671-e0734742-2d15-11e8-944c-83f04c3120f2.png)

[2018-03-21 09:17] menakakhare opened #196 ""Monitoring" tab in Programme page is not functional"
![screen shot 2018-03-21 at 2 45 23 pm](https://user-images.githubusercontent.com/30497144/37701917-ca4a01ee-2d16-11e8-8246-8e105fea50f0.png)

[2018-03-21 09:25] menakakhare opened #197 ""API" page under "Data" tab is not working only on Staing"

[2018-03-21 09:25] menakakhare commented on #197
https://ka.staging.ilp.org.in/api/docs/#/api/

[2018-03-21 10:33] menakakhare opened #198 "DISE option under Reports on both Staging and Dev redirects to Production DISE app"
Production : https://dise.klp.org.in/
dev: https://dise.dev.ilp.org.in/
staging: https://dise.staging.ilp.org.in/

[2018-03-21 10:37] menakakhare opened #199 "Data loads slowly in DISE app"
https://dise.dev.ilp.org.in/

In dev data does not load for 2016-17
Data loads slowly for all other academic years  (10 -15 seconds)

[2018-03-21 11:17] menakakhare opened #200 "Filter selection for block does not clear on changing the District"
![screen shot 2018-03-21 at 4 44 22 pm](https://user-images.githubusercontent.com/30497144/37707010-7cf3649c-2d27-11e8-9d84-d6d7635c4c36.png)
![screen shot 2018-03-21 at 4 44 45 pm](https://user-images.githubusercontent.com/30497144/37707012-7ef98a32-2d27-11e8-81a8-6d23da1adc9a.png)

[2018-03-21 11:24] menakakhare commented on #200
It affects school selection as well.

[2018-03-21 11:34] menakakhare opened #201 "Remove % value from GKA Dashboard"
![screen shot 2018-03-21 at 5 01 01 pm](https://user-images.githubusercontent.com/30497144/37707582-9a228ce4-2d29-11e8-9dc4-2a93e7f6a138.png)
![screen shot 2018-03-21 at 5 02 48 pm](https://user-images.githubusercontent.com/30497144/37707635-d5ce800e-2d29-11e8-8d32-7c90a72c3091.png)

The % Values are not coming out right. We are getting values more than 100% . Please remove this parameter from the

[2018-03-21 11:37] shivangi commented on #199
@ShwetanshuSingh do have a look at this.

[2018-03-21 11:38] menakakhare opened #202 "Koppal District shows up twice"
![screen shot 2018-03-21 at 5 06 45 pm](https://user-images.githubusercontent.com/30497144/37707818-71a0a02a-2d2a-11e8-9af2-5596c47f4f31.png)

Please check the Bangalore District options as well.

[2018-03-21 11:39] menakakhare commented on #202
![screen shot 2018-03-21 at 5 09 45 pm](https://user-images.githubusercontent.com/30497144/37707874-a6b88a34-2d2a-11e8-8234-b19c85c0c1b6.png)

[2018-03-21 11:40] shivangi commented on #201
@menakakhare can you give information about the boundary for which this error occurred?

[2018-03-21 12:11] shivangi commented on #202
@menakakhare The community survey was conducted in pre and primary schools. So one koppal is the primary district boundary and other koppal is the preschool district boundary.
So both are valid (they have different ids).

[2018-03-21 14:53] menakakhare commented on #202
@shivangi Pre-schools do not come under GKA. We should be only be showing Primary school boundaries in the dashboard.

[2018-03-21 16:17] menakakhare commented on #178
Problems when dashboard is viewed on mobile:-
![screen shot 2018-03-21 at 9 46 46 pm](https://user-images.githubusercontent.com/30497144/37722214-72c7d9e2-2d51-11e8-9eea-dd6269a4b135.png)

[2018-03-22 00:43] menakakhare opened #203 "Date range selection : across two academic year"
The counts returned are not accurate when the data range selection is across two academic year

https://ka.staging.ilp.org.in/gka/#searchmodal?boundary_id=445 (2016-2018)
https://ka.staging.ilp.org.in/gka/#datemodal?boundary_id=445&from=2016-01-01&to=2017-03-31 (2016-2017)

Refer to counts under assessment section.

[2018-03-22 04:50] shivangi commented on #194
@ansal can you check the survey_tag is being passed?

[2018-03-22 06:03] shivangi commented on #203
@menakakhare the counts is 0 under assessments section as that boundary does not have any GKA assessments.

SO its not a bug.

[2018-03-22 06:10] ansal commented on #201
@menakakhare Fixed.

[2018-03-22 06:10] ansal commented on #200
@menakakhare Fixed.

[2018-03-22 06:13] ansal commented on #197
@subhaklp Staging is not running the latest build. Last time we deployed to staging was 2 days ago. So once we deploy the latest code to staging, it will be fixed there as well.

[2018-03-22 06:13] #197 closed

[2018-03-22 06:49] menakakhare opened #204 "Competency Graphs labels gets cluttered for Phase 1 Districts in Assessment Section"
Phase 2 District (Gadag) : Labels on graph are spaced out well
https://ka.staging.ilp.org.in/gka/#searchmodal?boundary_id=420
![screen shot 2018-03-22 at 12 15 29 pm](https://user-images.githubusercontent.com/30497144/37755272-d0508eaa-2dca-11e8-9628-00434dc6fad5.png)

Phase 1 Districts (Raichur) : Labels are crowded
https://ka.staging.ilp.org.in/gka/#datemodal?boundary_id=418&from=2016-01-01&to=2

[2018-03-22 07:02] menakakhare commented on #203
https://ka.staging.ilp.org.in/gka/#datemodal?from=2016-03-01&to=2017-03-31

2016-2017
![screen shot 2018-03-22 at 12 29 23 pm](https://user- images.githubusercontent.com/30497144/37755736-ae8392f2-2dcc-11e8-8869-4ab3db990a37.png)

2016-2018
https://ka.staging.ilp.org.in/gka/#searchmodal?boundary_id=418
![screen shot 2018-03-22 at 12 31 31 pm](https://user-images.githubusercontent.com/30497144/3775

[2018-03-22 07:03] menakakhare commented on #203
![screen shot 2018-03-22 at 12 29 23 pm](https://user-images.githubusercontent.com/30497144/37755840-26e2865e-2dcd-11e8-9531-5bdf1650820d.png)
 (2016 - 2017 : we get data)

[2018-03-22 07:26] menakakhare commented on #203
This Works ! The default value in Date filter is causing confusion. Will raise a new issue for this.

[2018-03-22 07:26] #203 closed

[2018-03-22 07:42] ansal commented on #194
@shivangi @ShwetanshuSingh Konnect is not passing survey_tag=gka currently. I have asked the dev to update it.

[2018-03-22 07:43] ansal commented on #193
@ShwetanshuSingh @menakakhare This is fixed.

[2018-03-22 07:44] ansal commented on #166
@ShwetanshuSingh Should we close this one as we have another issue for the same here - https://github.com/klpdotorg/ilp/issues/194

[2018-03-22 11:13] menakakhare opened #206 "Date Filter creates confusion while Generating Report"
Program team members are getting confused between the "Apply Date Filter" and "Generate Report" Option. Please use the design below :
![screen shot 2018-03-22 at 4 34 26 pm](https://user-images.githubusercontent.com/30497144/37767420-1b39ad96-2df0-11e8-941b-dcd194032942.png)

[2018-03-22 11:16] menakakhare commented on #206
![screen shot 2018-03-22 at 4 34 26 pm](https://user-images.githubusercontent.com/30497144/37767571-8bca9908-2df0-11e8-9f5b-0e9e2e5dbd95.png)

[2018-03-22 11:19] menakakhare commented on #206
Also, when a user changes the date range the report should show the values only upon clicking "Generate Report"

[2018-03-22 11:35] menakakhare commented on #201
Fixed on Dev.

[2018-03-22 11:35] #201 closed

[2018-03-22 11:36] menakakhare commented on #200
Fixed on Dev

[2018-03-22 11:44] #200 closed

[2018-03-23 01:36] ansal commented on #206
@menakakhare So we are getting rid of the date select popup modal, right?

[2018-03-23 02:25] menakakhare commented on #206
Yes we want reports to be generated only on clicking "Generate Report". We do not want the date select pop up, its causing confusion as that also generates report.

[2018-03-23 02:27] menakakhare commented on #193
Reviewed .

[2018-03-23 02:27] #193 closed

[2018-03-23 02:35] menakakhare commented on #178
@ansal I think most of the escalations are addressed. I was unable to check the monitoring section as the graphs are not loading in dev.

[2018-03-23 05:24] menakakhare opened #207 "Top Search in School Map not working"
![screen shot 2018-03-23 at 10 51 39 am](https://user-images.githubusercontent.com/30497144/37812895-7e335512-2e88-11e8-99d5-2331412997c8.png)
https://ka.staging.ilp.org.in/map/#15/13.00991/77.65705

[2018-03-23 05:58] menakakhare opened #208 "Incorrect Values in "More Info" of Boundary page"
Dev:
https://dev.ilp.org.in/primary-district/418/
![screen shot 2018-03-23 at 11 24 56 am](https://user-images.githubusercontent.com/30497144/37813845-2a6e351e-2e8d-11e8-8b3f-78af3a172b69.png)

Prod:
https://klp.org.in/primary-district/418/#2014-2015

![screen shot 2018-03-23 at 11 27 37 am](https://user-images.githubusercontent.com/30497144/37813856-3aa6570e-2e8d-11e8-8e57-a9997beccd5c.png)

Stag

[2018-03-23 06:15] menakakhare opened #209 "Incomplete "More Info" tab for Preschool District page"
Prod:
https://klp.org.in/preschool-district/9064/#2014-2015

Dev:
https://dev.ilp.org.in/preschool-district/9064/

Staging: (Does not show anything)
https://ka.staging.ilp.org.in/preschool-district/9064/

[2018-03-23 06:20] menakakhare opened #210 "Boundary Page : More Info tab not working for BLOCK"
Production:
https://klp.org.in/block/463/#2014-2015

Dev: (Nothing is loading)
https://dev.ilp.org.in/block/463/

[2018-03-23 06:27] menakakhare opened #211 "Boundary Page: "More Info" tab does not show complete info for District/Block /Cluster/ Project /Circle"
Example links:
Dev:
https://dev.ilp.org.in/project/9116/
https://dev.ilp.org.in/cluster/3253/
https://dev.ilp.org.in/circle/8855/
https://dev.ilp.org.in/block/592/

[2018-03-23 06:35] menakakhare commented on #210
Raised another bug .

[2018-03-23 06:35] #210 closed

[2018-03-23 07:37] menakakhare commented on #194
The Reports section should show for :
GKA School Visit Survey : Mobile survey Counts + SMS Survey Counts
Community Survey : Mobile Survey Counts + Paper-Pen / CSV Counts

[2018-03-23 07:39] #166 closed

[2018-03-23 10:38] menakakhare commented on #178
Reviewed

[2018-03-23 10:38] #178 closed

[2018-03-23 11:25] ShwetanshuSingh opened #212 "GKA Dashboard: GP Count off from UnifyDB"
the count on UnifyDB is retrieved using the following query

and comes to 328, whereas the current dashboard count is 344

[2018-03-23 12:02] shivangi commented on #212
@ShwetanshuSingh If a gp contest happens in a place in 2 separate months it will get counted twice. So thats why there is the number mis match. I had specified this before as well.
@menakakhare

[2018-03-23 12:13] shivangi commented on #202
@menakakhare can you verify and close this?

[2018-03-23 17:13] menakakhare commented on #202
Reviewed

[2018-03-23 17:13] #202 closed

[2018-03-23 17:20] menakakhare commented on #212
@shivangi , Its correct to count the a GP twice if the contest has happened in the same GP in two different months. However, the possibility of GP contest happening twice in the same academic year is not possible. A GP conducts the contest only once in a academic year. So I doubt if the additional no we are seeing is due to that.

[2018-03-26 04:37] subhaklp commented on #211
@menakakhare you mean there's no programmes info in here? That's the only error I saw int he UI. What else is missing?

[2018-03-26 04:52] subhaklp commented on #209
I believe this will be fixed with my latest push to master.

[2018-03-26 04:53] subhaklp commented on #208
Just fixed it.

[2018-03-26 04:54] subhaklp commented on #198
Fixed

[2018-03-26 04:54] subhaklp commented on #196
fixed

[2018-03-26 04:55] subhaklp commented on #159
Fixed

[2018-03-26 04:55] subhaklp commented on #154
It is a Nginx config issue which @chiragklp needs to fix.

[2018-03-26 05:45] shivangi commented on #212
@ShwetanshuSingh : it does have:-
ilp=> select distinct s.gp_id, count(distinct to_char(date_of_visit,'YYYYMM')) from assessments_answergroup_institution ag, schools_institution s where ag.institution_id=s.id and ag.questiongroup_id in (select id from assessments_questiongroup where survey_id =2) and  date_of_visit > '2017-07-01' group by s.gp_id having count(distinct to_char(date_of_visit,'YYYYMM

[2018-03-26 05:45] menakakhare commented on #196
Reviewed

[2018-03-26 05:45] #196 closed

[2018-03-26 05:46] menakakhare commented on #208
Reviewed.

[2018-03-26 05:46] #208 closed

[2018-03-26 05:54] menakakhare commented on #198
@subhaklp Staging point to https://dise.dev.ilp.org.in/ instead of https://dise.staging.ilp.org.in/

[2018-03-26 07:14] #212 closed

[2018-03-26 07:45] subhaklp commented on #198
@chiraganand can you please comment on this?

[2018-03-26 09:11] menakakhare commented on #211
I think mostly its working fine. But the date source is missing.

https://ka.staging.ilp.org.in/block/596/
![screen shot 2018-03-26 at 2 37 18 pm](https://user-images.githubusercontent.com/30497144/37897389-b577f546-3103-11e8-9290-04c8301b67d6.png)

[2018-03-26 09:16] menakakhare commented on #159
Reviewed.

[2018-03-26 09:16] #159 closed

[2018-03-26 09:20] menakakhare commented on #209
Infrastructure info is missing.

[2018-03-26 15:31] menakakhare commented on #149
@chiraganand The image loading problem still persists .

CC @subhaklp

[2018-03-26 16:49] chiraganand commented on #198
Yes, this is fixed now.

[2018-03-26 16:49] subhaklp commented on #211
@menakakhare I've fixed the "B" or "D" icon inside the circle before the boundary name at hte top of the page. This was missing only for preschool districts. I can't seem to fix this dropdown for the year. I think @awesomepankaj might be able to quickly look into this one.

[2018-03-26 16:50] chiraganand commented on #154
@ansal is looking into it, will update when we have a fix.

[2018-03-26 16:52] subhaklp commented on #207
Merged into master. Ready for test.

[2018-03-26 16:54] subhaklp commented on #149
@menakakhare This is also a nginx config issue. @chiraganand what's going on?

[2018-03-26 16:56] chiraganand commented on #149
This is related to #154. As request URIs have changed from KLP app, we need to know what all paths the app is requesting before nginx config can be finalised. @ansal is looking into it.

[2018-03-27 06:09] subhaklp commented on #209
@menakakhare - We can't show preschool infra data in this release. Our DB itself doesn't have proper/valid data and there's some question as to how dudbubdub is showing/correlating this data. @brijeshpoojary is looking into it. This will continue to be open until we can get everything worked out. Please see Slack thread also for details.

[2018-03-27 13:31] chiraganand commented on #149
This is fixed now.

[2018-03-27 13:32] chiraganand commented on #154
Both are now working:
https://ka.staging.ilp.org.in/media/school-data/primaryschool.csv
https://dev.ilp.org.in/media/school-data/primaryschool.csv

[2018-03-27 16:46] menakakhare commented on #198
Reviewed.

[2018-03-27 16:47] #198 closed

[2018-03-27 16:48] menakakhare commented on #207
![screen shot 2018-03-27 at 10 17 36 pm](https://user-images.githubusercontent.com/30497144/37981971-bc6f4d4a-320c-11e8-8df5-12c733f01055.png)
I still see the issue.

[2018-03-27 16:50] menakakhare commented on #211
@awesomepankaj Can you look into this issue.

[2018-03-27 16:53] menakakhare commented on #149
Reviewed .

[2018-03-27 16:53] #149 closed

[2018-03-27 16:56] menakakhare commented on #154
![screen shot 2018-03-27 at 10 17 36 pm](https://user-images.githubusercontent.com/30497144/37982242-b33dff9a-320d-11e8-80aa-a82d3940e4cf.png)
 @chiraganand it gives an error when you click on Data page.

On dev also it gives error.
https://dev.ilp.org.in/data/

[2018-03-27 16:57] menakakhare commented on #154
![screen shot 2018-03-27 at 10 25 47 pm](https://user-images.githubusercontent.com/30497144/37982323-e78f311a-320d-11e8-859d-2eda9e824564.png)

[2018-03-27 17:04] menakakhare commented on #204
This needs to be fixed still.

[2018-03-27 17:44] menakakhare opened #213 "Konnect issues based on latest apk received"
For Karnataka State Selection:
- The survey name still shows up as "GKA Monitoring" instead of "GKA School Visit"
- The question on Representational Stage is missing in "GKA School Visit" survey
- @brijeshpoojary In GKA School Visit Survey please remove "Don't Know" option
- In "Community Survey" it should not allow multiple selection . Please refer image 1
- Shridhar : I am unsure about the repor

[2018-03-27 18:15] menakakhare commented on #213
In Odisha state selection :
- In Odisha GKA School Visit survey all the question shows us up as multiple selection whereas it has to be single selection.
- In Odisha Community survey all the question shows us up as multiple selection whereas it has to be single selection.
- @brijeshpoojary please remove "Don't Know" option from all the responses in "Odisha GKA School Visit" survey
- In Teacher sur

[2018-03-28 05:50] #30 closed

[2018-03-28 05:52] shivangi commented on #186
@ansal  to look at:- SECRET_KEY in settings/base.py
@prajdataspect to look at:- Slack post hook url in ilp/apps/common/utils.py#post_to_slack method

[2018-03-28 08:14] subhaklp commented on #209
Removed the infra tab for boundary/preschool pages.

[2018-03-28 08:21] subhaklp commented on #186
Provided data to @chiraganand on Slack. Now, he'll have to modify ansible script to strip out the pwd and sub with something else.

[2018-03-28 08:49] menakakhare commented on #206
Reviewed.

[2018-03-28 08:49] #206 closed

[2018-03-28 12:02] prajdataspect commented on #186
The slack change is done. @chiraganand to update the settings file on the server

[2018-03-28 12:32] menakakhare commented on #207
Works on dev but not on staging. @subhaklp / @shivangi should we close this bug.

[2018-03-28 12:45] #157 closed

[2018-03-29 03:14] ansal commented on #204
@menakakhare Fixed.

[2018-03-29 03:50] chiragklp commented on #186
Updated on staging, please verify.

[2018-03-29 03:52] chiragklp commented on #154
This is fixed by @subhaklp it is now working.

[2018-03-29 04:59] menakakhare commented on #154
Tested, works !

[2018-03-29 04:59] #154 closed

[2018-03-29 05:37] menakakhare commented on #207
Reviewed.

[2018-03-29 05:37] #207 closed

[2018-03-29 08:01] subhaklp commented on #195
Have removed the edit profile option.

[2018-03-29 08:06] subhaklp commented on #186
@chiraganand - you've removed the pwds from staging server?

[2018-03-29 08:19] chiragklp commented on #186
@subhaklp not from server but from repo. Inside the repo, they are encrypted.

[2018-03-29 08:20] chiragklp commented on #186
@ansal I haven't changed SECRET_KEY, have you? I can handle it as well as part of deployment?

[2018-03-29 10:04] menakakhare commented on #204
Reviewed.

[2018-03-29 10:04] #204 closed

[2018-04-05 11:53] menakakhare opened #215 "Revise the User roles for Konnect App (at the time of Registration)"
Based on the feedback received from the field the roles at the time of registration needs to be as per this list.
https://docs.google.com/spreadsheets/d/1MXyGx1MNzbqssqsQji8eTP3oaJnb4m-H_5Ezhh2Zs_0/edit#gid=2037715752

[2018-04-05 11:55] menakakhare opened #216 "Remove Respondent Type: for Community Survey"
Community Survey will be taken up by "Parents" only. Remove the option to select Respondent Type for Community Survey as it is causing confusion for the users.

[2018-04-12 08:24] menakakhare opened #218 "GKA School Visit Summary: has incorrect counts in Summary Responses"
Link : https://klp.org.in/gka/

![screen shot 2018-04-12 at 12 45 12 pm](https://user-images.githubusercontent.com/30497144/38665015-eeda7356-3e58-11e8-8de7-74e2904feb9f.png)

[2018-04-12 08:35] menakakhare opened #219 "The Summary Responses count is 100% when End Date is Apr 2018 and beyond"
This issue I am observing only with Gadag and Chitradurga. Not sure if its affecting other districts as well.

Gadag District

**March 2018 End Date** : https://klp.org.in/gka/#searchmodal?from=2017-06-01&to=2018-03-01&boundary_id=420

![screen shot 2018-04-12 at 2 03 39 pm](https://user-images.githubusercontent.com/30497144/38665585-5fd5e530-3e5a-11e8-9ae3-0c1e995789ed.png)
 **April 2018 End Date

[2018-04-13 10:39] menakakhare opened #220 "Push ESL data and FA data into Unified DB"
Prajakta, we need to bring in ESL and FA data in to DB.

[2018-04-16 09:57] #211 closed

[2018-04-17 17:42] menakakhare commented on #218
@ansal Coincidentally, I was discussing this graph with Program team and during the discussion it emerged that TLM Usage and Group Work happening should be measured only for surveys where "Ongoing class 4 and 5 Math sessions" responses are Yes. For example if received 100 surveys and out of that for 30 surveys the response for "Was Math Class happening during your visit ? " is "Yes", then We use o

[2018-04-17 18:29] menakakhare commented on #219
Tested on dev, Good to go on Prod.

[2018-04-26 07:43] #219 closed

[2018-05-15 04:08] menakakhare opened #232 "Issues on Reports Page"
- For few boundaries it shows no data : (Not sure if actually we do not have data) http://dev.ilp.org.in:3001/reports/demographics/electedrep/english/24/

- Previous selection does not clear and causes confusion
http://dev.ilp.org.in:3001/reports/search.  First created a report for Gundipet and then was trying to generate report for Dharwad. But the previous selection was still showing up.

- Comp

[2018-05-16 05:31] shivangi commented on #232
For few boundaries it shows no data : (Not sure if actually we do not have data) http://dev.ilp.org.in:3001/reports/demographics/electedrep/english/24/

**Yes for some constituencies we dont have them mapped to any school so no data is there. How should we handle it?
1. dont show them only.
2. show the page with "No data" or something like that.**

Previous selection does not clear and causes conf

[2018-05-18 10:42] brijeshpoojary opened #236 "Class 4 GKA Assessments Competency Summary percentage wrongly calculated."
The competency summary for class 4 under the assessments section on the GKA dashboard is not showing the right percentage values in the graph. Look into this on a high priority. @ansal
![screenshot from 2018-05-18 15 58 27](https://user-images.githubusercontent.com/2518207/40230706-2fd151bc-5ab6-11e8-88ec-bfc223976bcd.png)

[2018-05-23 04:35] menakakhare commented on #232
**Yes for some constituencies we don't have them mapped to any school so no data is there. How should we handle it?

don't show them only.
show the page with "No data" or something like that.**

****So we have constituencies without any school mapped ?  Then we should fix it @brijeshpoojary @sukanya should pick it up.
Meanwhile, we take the first option "Don't show them only."